/* Login / Signup bg */

.loginbody{
    background:linear-gradient(45deg, #1d57f673, #6091fa48), url("/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Primary color variants */
.primary-50{
    background-color: var(--primary-50);
}

.primary-100{
    background-color: var(--primary-100);
}

.primary-200{
    background-color: var(--primary-200);
}

.primary-300{
    background-color: var(--primary-300);
}

.primary-400{
    background-color: var(--primary-400);
}

.primary-500{
    background-color: var(--primary-500);
    border: 2px #525255;
}
.hover\:primary-500:hover{
    background-color: #6090fa;
}

.primary-600{
    background-color: var(--primary-600);
}

.primary-700{
    background-color: #1d58d8;
}

.primary-800{
    background-color: #1e4baf;
}

.primary-900{
    background-color: #172a54;
}


/* Secondary color variants */
.secondary-50{
    background-color: #FFFFFF ;
}
.secondary-100{
    background-color: #efefef ;
}
.secondary-200{
    background-color: #dcdcdc ;
}
.secondary-300{
    background-color: #BDBDBD ;
}
.secondary-400{
    background-color: #989898 ;
}
.secondary-500{
    background-color: #7c7c7c ;
}
.secondary-600{
    background-color: #656565 ;
}
.secondary-700{
    background-color: #525252 ;
}
.secondary-800{
    background-color: #464646 ;
}
.secondary-900{
    background-color: #3d3d3d ;
}
.secondary-950{
    background-color: #292929 ;
}